.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(208, 163, 232, 0.544));
    transition: transform 0.3s ease-in-out;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px, rgb(38, 57, 77) 0px 2px 16px 0px;
    max-width: 100%;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
:root {
    --op: 0.9;
}
.item {
    position: relative;
    width: calc(100%/4);
    min-width: 300px;
    max-width: 500px;
    height: 300px;
    margin: 10px;
}

.item h3{
    color:#ffffff;
    font-size: 20px;
    padding-left: 5%;
}

.item p {
    font-size: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}

.item button {
    position: absolute;
    font-size: 15px;
    margin-left: 15px;
    padding: 3%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
}

@media (min-width: 1025px) {
    .item button:hover{
        background-color: rgb(252, 222, 255);
        cursor: pointer;
    }
  }
.text {
    width: 210px;
    height: 150px;
    background: #2221211a;
    position: absolute;
    top: 75px;
    left: 40px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

.text::before, .text::after {
    content: '';
    opacity: 0;
    width: 50px;
    height: 50px;
    background: #ffffff36;
    position: absolute;
    backdrop-filter: blur(10px);
    border-radius: 3px;
}

.text::before {
    top: -75px;
    left: 80px;
}

.text::after {
    top: 175px;
    left: 20px;
}

.item:hover .text::before, .item:hover .text::after {
    opacity: 1;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.2s;
}

.item:hover .text::before {
    animation-name: animate6;
}

.item:hover .text::after {
    animation-name: animate7;
}

.item:hover .rot2
{
    transform: skewX(-20deg);
}

@keyframes animate6 {
    from {
        top: -75px;
        left: 80px;
    }
    to {
        left: 50px;
        top: -50px;
    }
} 
@keyframes animate7 {
    from {
        top: 175px;
        left: 20px;
    }
    to {
        left: 25px;
        top: 150px;
    }
} 

.rot2 {
    position: relative;
    top: 0;
    left: 70px;
    transform: skewX(20deg);
    width: 150px;
    height: 300px;
    border-radius: 5px;
    transition: all 0.5s ease;
}


.rot2 {
    background:rgb(208, 163, 232)
}   
.rot2:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(-1px, 0px, 0) scale(1.08);
    filter: blur(24px);
    opacity: var(--op);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.rot2:before {
    background:rgb(208, 163, 232);  
} 