footer {
    grid-column: 1 / span 3;
    margin: 10px 0 0px 0;
    color: rgb(0, 0, 0);
    background-color: rgb(55, 54, 54);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px, rgb(38, 57, 77) 0px 2px 16px 0px;
}



.container1 {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-template-rows: auto;
}
.container1 .partFoot:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}
.container1 .partFoot:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    white-space: nowrap;
}

.partFoot{
    color: azure
}
.partFoot h2{
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
}
.partFoot p{
    margin-top: 0;
    margin-bottom: 0;
}
.container1 .partFoot {
    position: relative;
    padding: 5px;
    width: 30%;
}
.container1 .partFoot ul{
    padding-left: 0;
}
.container1 .partFoot ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 3px 0px;
}
.container1 .partFoot a{
    text-decoration: none;
    color: azure;
    
}

.partFoot2 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    font-size: 12px;
}

@media screen and (max-width: 820px) {
    .container1 {
            grid-template-columns: 1fr 1fr;
        }
        .container1 .partFoot:nth-child(1) {
            grid-column: 1 / span 2;
            grid-row: 1 / 2;    
        }
        .container1 .partFoot:nth-child(2) {
            grid-column: 2 / 2;
            grid-row: 1 / 2;
        }
    }
    
@media screen and (max-width: 580px) {
    .container1 {
        grid-template-columns: 1fr;
    }
    .container1 .partFoot:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .container1 .partFoot:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}   