
*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
header {
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: rgb(248, 240, 217) 0px 10px 10px -10px, rgb(0, 0, 0) 0px 2px 10px 0px;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: rgb(55, 54, 54); 
}
nav h3 {
    display: inline-block;
    transition: all 0.5s ease;
    color: azure;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    font-size: 55px;
    height: 50px;
    /* padding-top: 15px; */}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    color: azure;
    display: block;
    transition: all 0.5s ease;
    padding: 4px 4px;
    margin-right:15px ;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    height: 50px;
    font-size: 25px;
    padding-top: 20px;
}

nav ul li a:hover {
    color: rgb(208, 163, 232);
    background-color: rgb(106, 104, 104);
    border-radius: 15px;
}

.greenback {
    border-radius: 2px;
    background-color: rgba(162, 241, 233, 0.519);
    color: azure;
}

.greenback:hover {
    border-radius: 2px;
    background-color: rgba(162, 241, 233, 0.7);
    color: azure;
}
input[type="checkbox"] { /*все input имеющие type checkbo*/
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#burger {
    display: none;
}
@media screen and (max-width: 820px) {
    nav ul {
        visibility: hidden;
        position: absolute;  
        display: flex;
        justify-content: space-evenly;     
        max-width: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        background-color: rgb(55, 54, 54);
        width: 100%;
        /* height: 60px; */
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%) translateY(70px);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    nav ul li {
        padding-top: 10px;
    }
    nav ul li a{ 
        color: rgb(255, 255, 255);
        /* border: 4px solid #656565; */
        border-radius: 5px;
    }
    #burger-toggle:checked + #burger + ul {
        visibility: visible;
        opacity: 1;
        transform: translateY(70px);
    }
    #burger {
        cursor: pointer;
        display: inline-block;
        margin-top: 18px;
    }
    .burger-line {
        width: 40px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        margin: 5px 0;
        transition: transform 0.3s ease-in-out;
    }
    #burger-toggle:checked + #burger .burger-line:nth-child(1) {
        transform: rotate(45deg) translate(6px, 5px);
    }
    
    #burger-toggle:checked + #burger .burger-line:nth-child(2) {
        display: none; 
    }
    
    #burger-toggle:checked + #burger .burger-line:nth-child(3) {
        transform: rotate(-45deg);
    }
}

@media screen and (max-width: 580px) {
    nav h3 {
        font-size: 30px;
    }
    nav ul li a{ 
        font-size: 20px;
    }
}